* {
  margin: 0;
  padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
  height: 100%;
  min-width: 230px;
}

.sidebar {
    width: 0px;
    box-shadow: 3px 0px 5px 1px rgba(0, 0, 0, .1);
    background-color:darkorange;
    transition: 200ms width;
}
.sidebar > section {
    display: none;
}

.sidebar.nav-expanded {
    width: 230px;
    display: block;
    position: absolute;
    left: 0;
    top: 30px;
    height: calc(100% - 30px);
}

.sidebar.nav-expanded > section {
    display: inherit;
}

#contract-button {
    display: none;
}

.topbar {
    box-sizing: border-box;
    background-color: darkgrey;
    padding: 5px;
    font-size: 1.2rem;
    height: 30px;
}


.links-container {
    padding: 0 15px;
}

.links {
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #f2f2f2;
}

.links span {
    padding: 0px 20px;
}

#main-dashboard-content {
    box-sizing: border-box;
    height: calc(100% - 30px);
    padding: 20px 25px;
    background-color: #f8f8f8;
    transition: 200ms margin-left;
}

#modal {
    position: absolute;
    height: auto;
    width: calc(100% - 110px);
    top: 48px;
    left: 55px;
    z-index: 1000;
}

#modal.full-screen-item {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 0;
}

#modal > section {
    box-sizing: border-box;
    display: none;
    background-color: darkorchid;
    padding: 15px;
    height: 100%;
}

#modal > section.opened {
    display: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    color: white;
}

.modal-actions span{
    margin-left: 10px;
}

@media (min-width: 500px)
{
    .burger {
        display: none;
    }

    .sidebar.nav-expanded,
    .sidebar {
        display: block;
        position: absolute;
        left: 0;
        top: 30px;
        height: calc(100% - 30px);
        width: 45px;
    }

    .sidebar.full-screen-mode {
        display: none;
    }

    .sidebar.nav-expanded > section,
    .sidebar > section {
        display: inherit;
    }

    .sidebar > section.title-container {
        display: none;
    }

    #contract-button {
        display: inherit;
    }

    #main-dashboard-content {
        margin-left: 45px;
    }
    #main-dashboard-content.full-screen-mode {
        margin-left: 0px;
    }

    .topbar.full-screen-mode {
        display: none;
    }

    .links > span {
        display: none;
    }

}

@media (min-width: 950px)
{

    .sidebar,
    .sidebar.nav-expanded {
        width: 230px;
    }

    .sidebar.nav-contract {
        width: 45px;
    }


    .sidebar > section.title-container {
        display: inherit;
    }

    .links > span {
        display: inherit;
    }

    .sidebar.nav-contract > .title-container {
        display: none;
    }

    .sidebar.nav-contract .links > span {
        display: none;
    }


    #main-dashboard-content {
        margin-left: 230px;
    }

    #main-dashboard-content.nav-contract {
        margin-left: 45px;
    }

    #main-dashboard-content.full-screen-mode {
        margin-left: 0px;
    }

}
